body {
    display: flex;
    flex-direction: column;
}



.page {
    background-color: #1f2937;
    color: white;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 800;
}

.links {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}


.head {
    display: flex;
}


.firstSection {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

img {
    width: 200px;
    height: auto;
}

.secondSection {
    display: flex;
    justify-content: center;
    gap: 52px;


}

.info {
    max-width: 200px;
}

.secondTitle {}